<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign up with</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Facebook</span>
                </a>
               
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
             

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  
    <div class="formControl">
        <label>Username</label>
        <input type="text" formcontrolName='username'>
        <div *ngIf="submitted && loginForm.controls.username.errors" class='error'>
            <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
        </div>
</div>
<div class="formControl">
        <label>Phone Number</label>
        <input type="text" formcontrolName='phonenumber'>
        <div *ngIf="submitted && loginForm.controls.phonenumber.errors" class='error'>
            <div *ngIf="loginForm.controls.phonenumber.errors.required">Phone Number is required</div>
        </div>
</div>

<div class="formControl">
        <label>Password</label>
        <input type="text" formcontrolName='password'>
        <div *ngIf="submitted && loginForm.controls.password.errors" class='error'>
            <div *ngIf="loginForm.controls.phonenumber.errors.required">Password is required</div>
        </div>
</div>


<div class="formControl">
        <label>Confirm Password</label>
        <input type="text" formcontrolName='confirm_password'>
        <div *ngIf="submitted && loginForm.controls.confirm_password.errors" class='error'>
            <div *ngIf="loginForm.controls.confirm_password.errors.required">This field is required</div>
        </div>
</div>
   
 <input type="submit" value="SignUp" class="cta">

</form>
              <!-- <form role="form">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Username" type="phonenumber" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
               
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Phone Number" type="phonenumber" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Confirm Password" type="password" (focus)="focus2=true" (blur)="focus2=false">
                  </div>
                </div>
                <div class="text-muted font-italic">
                  <small>password strength:
                    <span class="text-success font-weight-700">strong</span>
                  </small>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
