<div class="upcoming_latest">
  <div class="row text-center">
    <div class="section_title_container text-center">
      <div class="section_title light">
        <h3>Active Betslips</h3>
      </div>

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
 <div class="custom_list_a">

      <ul>
        <li class="d-flex flex-row align-items-center justify-content-start" *ngFor="let betslip of betslips">
          <div class="custom_list_image"><img src="assets/images/1.png" alt=""></div>
          <div class="custom_list_title_container">
            <div class="custom_list_title"><a routerLink='betslips/detail/{{betslip.id}}'>{{ betslip.name }}</a></div>
            <div class="custom_list_date"><a routerLink='users/{{betslip.user.username}}'>{{betslip.user.username}}</a>
              -- {{ betslip.date_created | date }}</div>

          </div>

          <div class="custom_list_title_container">
            <div class="custom_list_title"><a (click)="betslipUpkick(betslip.id)">Up</a></div>
            <div class="custom_list_date">{{ betslip.up_kicks }}</div>


          </div>
          <div class="custom_list_title_container">
            <div class="custom_list_title"><a href="blog.html">Down</a></div>
            <div class="custom_list_date">{{ betslip.down_kicks }}</div>

          </div>
          <div class="custom_list_title_container">
            <div class="custom_list_title"><a href="blog.html">Sales</a></div>
            <div class="custom_list_date">{{ betslip.sales }}</div>

          </div>
          <div class="custom_list_link ml-auto"><a (click)="betslipBuy(betslip.id)">Predictions</a></div>
          <div class="custom_list_link ml-auto"><a (click)="betslipBuy(betslip.id)">Buy</a></div>
        </li>

      </ul>
    </div>
    </div>
    <div class="col-md-3">

    </div>

   



  </div>



</div>
