<div class="row">


    <div class="col-lg-2">

    </div>
    <div class="col-lg-7 badge">
        

<form>
  <div class="form-group form-sm form-inline">
      <!-- Search: <input class="form-control ml-2" placeholder="Search By Id or Title" type="text" [formControl]="filter"/> -->
  </div>
</form>

<table class="table table-sm betslips table-striped">
  <thead>
  <tr>
    <th scope="col"><small>Id</small></th>
    <th scope="col"><small>Title</small></th>
    <th scope="col"><small>Date Created</small></th>
    <th scope="col"><small>Up kicks</small></th>
    <th scope="col"><small>Down kicks</small></th>
    <th scope="col"><small>Sales</small></th>
    <th scope="col"><small>Status</small></th>
    <th scope="col"><small>Action</small></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let betslip of betslips$">
    <td>{{betslip.id}}</td>
    <td><a routerLink='/betslips/detail/{{betslip.id}}'><h4>{{betslip.name}}</h4></a></td>
    
    <td>{{betslip.date_created | date}}</td>
    <td>{{betslip.up_kicks}}</td>
    <td>{{betslip.down_kicks}}</td>
    <td>{{betslip.sales}}</td>
    <td>{{betslip.active}}</td>
    <td><button class="btn btn-sm btn-primary">Edit</button></td>
    <!-- <td>
      <img [src]="" class="mr-2" style="width: 20px">
      <ngb-highlight [result]="betslip.title" [term]="filter.value"></ngb-highlight>
    </td>
    <td><ngb-highlight [result]="betslip.Upkicks | number" [term]="filter.value"></ngb-highlight></td>
    <td><ngb-highlight [result]="betslip.sales | number" [term]="filter.value"></ngb-highlight></td> -->
  </tr>
  </tbody>
</table>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
