<header class="header">

  <!-- Header Content -->
  <div class="header_content">
      <div class="row">
        <div class="col">
          <div class="main_nav_container_outer d-flex flex-row align-items-end justify-content-center trans_400">
            <nav class="main_nav">
              <div class="main_nav_container d-flex flex-row align-items-center justify-content-lg-start justify-content-center">
                <div> 
                  <ul class="d-flex flex-row align-items-start justify-content-end">
                    <li class="active"><a routerLink='/'>home</a></li>
                    <li><a routerLink='/betslips/filters'>Free | Premium</a></li>
                    <li><a routerLink='/betslips/create'>Create</a></li>
                  </ul>
                </div>
                <div class="logo_container text-center padit"><div class="trans_400"><a href="#"><img src="assets/images/2.png" alt=""></a></div></div>
                <div>
                  <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a routerLink='/Sportnews'>Sports</a></li>
                    <li><a routerLink='/about'>About Us</a></li>
                    <li><a routerLink='/contact'>Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class="hamburger">
              <i class="fa fa-bars trans_200"></i>
            </div>
          </div>
        </div>
      </div>
    </div>	
    
    <!-- Header bar -->
    <div class="header_bar">
      
        <div class="row">
          <div class="col">
            <div class="header_bar_content d-flex flex-row align-items-center justify-content-start">
              <div class="header_links">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                  <li><a routerLink='/'>Welcome to Betsoko</a></li>
                  <li><a>Sure to score</a></li>
                </ul>
              </div>
              <div class="header_bar_right ml-auto d-flex flex-row align-items-center justify-content-start">
                
                <!-- Header LIVE -->
               

                <!-- Sign up / Sign in -->
                <div class="user_area">
                  <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a routerLink='/signup'>Sign up</a></li>
                    <li><a routerLink='/signin'>Sign in</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      

  </div>
</header>