@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Elements
	6.1 Buttons
	6.2 Accordions
	6.3 Tabs
	6.4 Loaders
	6.5 Milestones
	6.6 Icon Boxes
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.875;
	font-weight: 500;
	color: #888888;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
a:hover
{
	color: #ffa54b;
}
::selection
{
	background: rgba(255, 165, 75, 1);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.section_title h1
{
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #050505;
	line-height: 1.2;
}
.section_title.light h1
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 16px;
	font-weight: 500;
	color: #b5b5b5;
	line-height: 1.2;
	margin-top: -4px;
}
.button
{
	display: inline-block;
	width: 200px;
	height: 64px;
	background: #ffa54b;
	text-align: center;
}
.button::after
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #161d4a;
	content: '';
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover::after
{
	height: 100%;
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 64px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	z-index: 1;
}

/*********************************
3. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(22,29,74,0.75);
	z-index: 100;
	border-bottom: solid 3px #ffa54b;
}
.header_content
{
	width: 100%;
}
.main_nav_container_outer
{
	width: 100%;
	height: 100px;
}
.header.scrolled .main_nav_container_outer
{
	height: 110px;
}
.header.scrolled .logo_container > div
{
	top: -40px;
	width: 170px;
}
.header_bar
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(28,36,93,0.75);
}
.header_bar_content
{
	height: 40px;
}
.header_links ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '|';
	margin-left: 8px;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
	color: #ffa54b;
}
.header_links ul li a
{
    margin: 50px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.header_links ul li:first-child a
{
	color: #ffa54b;
}
.header_links ul li a:hover
{
	color: #ffa54b;
}
.user_area
{
    margin: 50px;
    margin-right: 50px;
	margin-left: 48px;
}
.user_area ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
	margin-left: 3px;
	margin-right: 3px;
}
.user_area ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.user_area ul li a:hover
{
	color: #ffa54b;
}
.header_live a > div > div:first-child
{
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 54px;
	height: 22px;
	background: #ff0410;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
.header_live a > div > div:last-child
{
	padding-left: 16px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_live a:hover > div > div:last-child
{
	color: #ffa54b;
}
.main_nav
{
	width: 100%;
	padding-bottom: 16px;
}
.main_nav_container > div:not(:nth-child(2))
{
	width: calc((100% - 310px) / 2);
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 38px;
}
.main_nav ul li:nth-child(3)
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 350;
	color: #FFFFFF;
	text-transform: uppercase;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #ffa54b;
}
.main_nav_container .header_live
{
	display: none;
}
.logo_container
{
	width: 310px;
	margin-right: 0px;
}
.logo_container a
{
	display: block;
	position: relative;
	width: 100%;
}
.logo_container > div
{
	position: absolute;
	top: -60px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}
.hamburger
{
	display: none;
	position: absolute;
	bottom: 15px;
	right: 0px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 22px;
	color: #FFFFFF;
}
.hamburger:hover i
{
	color: #ffa54b;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(10,17,35,0.55);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_background
{
	position: absolute;
	top: 0;
	right: -65%;
	width: 65%;
	height: 100%;
	background: #0a1123;
	padding-right: 93px;
	border-left: solid 2px #ffa54b;
	transform-origin: bottom right;
	-webkit-transform: skew(-12deg);
	-moz-transform: skew(-12deg);
	-ms-transform: skew(-12deg);
	-o-transform: skew(-12deg);
	transform: skew(-12deg);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active .menu_background
{
	right: 0%;
}
.menu_container
{
	width: 100%;
	height: 100%;
	padding-right: 40px;
	padding-top: 124px;
	-webkit-transform: skew(12deg);
	-moz-transform: skew(12deg);
	-ms-transform: skew(12deg);
	-o-transform: skew(12deg);
	transform: skew(12deg);
}
.menu_close
{
	position: absolute;
	top: 19px;
	right: 40px;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
}
.menu_nav ul li
{
	-webkit-transform: translateX(100px);
	-moz-transform: translateX(100px);
	-ms-transform: translateX(100px);
	-o-transform: translateX(100px);
	transform: translateX(100px);
	opacity: 0;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.menu_nav ul li:first-of-type
{
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}
.menu_nav ul li:nth-child(2)
{
	-webkit-transition-delay: 170ms;
	transition-delay: 170ms;
}
.menu_nav ul li:nth-child(3)
{
	-webkit-transition-delay: 240ms;
	transition-delay: 240ms;
}
.menu_nav ul li:nth-child(4)
{
	-webkit-transition-delay: 310ms;
	transition-delay: 310ms;
}
.menu_nav ul li:nth-child(5)
{
	-webkit-transition-delay: 380ms;
	transition-delay: 380ms;
}
.menu_nav ul li:nth-child(6)
{
	-webkit-transition-delay: 450ms;
	transition-delay: 450ms;
}
.menu.active .menu_nav ul li
{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1;
}
.menu_nav ul li a
{
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 900;
	text-transform: uppercase;
}
.menu_nav ul li a:hover,
.menu_close:hover
{
	color: #ffa54b;
}
.menu_user_area
{
	display: none;
	border-bottom: solid 1px #ffa54b;
}
.menu_user_area ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
	margin-left: 3px;
	margin-right: 3px;
}
.menu_user_area ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.menu_user_area ul li a:hover
{
	color: #ffa54b;
}
.menu_links
{
	position: absolute;
	right: 40px;
	bottom: 20px;
}
.menu_links ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '|';
	margin-left: 8px;
	margin-right: 8px;
	font-size: 12px;
	font-weight: 500;
	color: #ffa54b;
}
.menu_links ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
}
.menu_links ul li:first-child a
{
	color: #ffa54b;
}
.menu_links ul li a:hover
{
	color: #ffa54b;
}

/*********************************
5. Home
*********************************/

.home
{
	height: 548px;
	padding-bottom: 134px;
}
.home_text
{
	font-size: 60px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 1.2;
}
.home_text span
{
	color: #ffa54b;
}

/*********************************
6. Elements
*********************************/

.elements
{
	background: #FFFFFF;
	padding-top: 102px;
	padding-bottom: 39px;
}
.elements_title h1
{
	font-size: 24px;
	font-weight: 700;
	color: #050505;
	line-height: 0.75;
}

/*********************************
6.1 Buttons
*********************************/

.buttons_container
{
	margin-top: 58px;
}
.buttons_container .button
{
	margin-bottom: 10px;
}
.buttons_container .button:not(:last-child)
{
	margin-right: 12px;
}
.button_2
{
	background: #161d4a;
}
.button_2::after
{
	background: #ffa54b;
}
.button_3 a
{
	color: #161d4a;
}
.button_3:hover a
{
	color: #ffa54b;
}

/*********************************
6.2 Accordions
*********************************/

.acc_tabs
{
	margin-top: 91px;
}
.acc_tabs_row
{
	margin-top: 82px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 7px;
}
.accordion
{
	height: 58px;
	width: 100%;
	background: #161d4a;
	padding-left: 26px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	line-height: 58px;
	border-bottom: solid 3px #ffa54b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion:hover
{
	background: #ffa54b;
}
.accordion.active
{
	background: #ffa54b;
	color: #161d4a;
	border-bottom: solid 3px #161d4a;
}
.accordion.active:hover
{
	background: #161d4a;
	color: #FFFFFF;
}
.accordion.active:hover::after
{
	color: #FFFFFF;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 22px;
	height: 100%;
	content: '+';
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	content: '-';
	color: #161d4a;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 20px;
}
.accordion_panel p
{
	font-size: 14px;
	line-height: 2.143;
	font-weight: 500;
	padding-top: 18px;
}

/*********************************
6.3 Tabs
*********************************/

.tabs
{
	width: 100%;
	background: #FFFFFF;
}
.tabs_container
{
	width: 100%;
}
.tab
{
	height: 58px;
	background: #161d4a;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 58px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 9px;
	padding-left: 26px;
	padding-right: 26px;
	border-bottom: solid 3px #ffa54b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover
{
	background: #ffa54b;
}
.tab.active:hover
{
	background: #161d4a;
	color: #FFFFFF;
}
.tab:not(:last-child)
{
	margin-right: 7px;
}
.tab.active
{
	background: #ffa54b;
	color: #161d4a;
	border-bottom: solid 3px #161d4a;
}
.tab_panels
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 18px;
	padding-bottom: 32px;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}
.tab_text
{
	margin-top: -2px;
}
.tab_text p
{
	font-size: 14px;
	line-height: 2.143;
	font-weight: 500;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}

/*********************************
6.4 Loaders
*********************************/

.loaders
{
	margin-top: 72px;
}
.loaders_row
{
	margin-top: 59px;
}
.loader_col
{
	margin-bottom: 50px;
}
.loader_container
{
	height: 192px;
}
.loader
{
	width: 192px;
	height: 192px;
	margin: 0 auto;
	background: transparent;
}
.loader_content
{
	position: absolute;
	left: 50%;
	bottom: 62px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 500;
	color: #232323;
	white-space: nowrap;
	text-align: center;
}
.loader_title
{
	font-size: 18px;
	font-weight: 500;
	color: #161d4a;
	line-height: 0.75;
	white-space: nowrap;
}
.progressbar-text
{
	top: 44.5% !important;
	font-size: 48px !important;
	font-weight: 500 !important;
	color: #ffa54b !important;
	line-height: 0.75 !important;
}

/*********************************
6.5 Milestones
*********************************/

.milestones
{
	margin-top: 52px;
}
.milestones_row
{
	margin-top: 58px;
}
.milestone_col
{
	margin-bottom: 51px;
}
.milestone_icon
{
	width: 62px;
	height: 62px;
}
.milestone_icon img
{
	max-width: 100%;
	max-height: 100%;
}
.milestone_content
{
	padding-left: 26px;
}
.milestone_counter
{
	font-size: 48px;
	color: #ffa54b;
	font-weight: 500;
	line-height: 0.75;
}
.milestone_title
{
	font-size: 18px;
	color: #161d4a;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 19px;
}
.milestone_subtitle
{
	font-size: 11px;
	color: #737791;
	font-weight: 500;
	margin-top: 9px;
}

/*********************************
6.6 Icon Boxes
*********************************/

.icon_boxes
{
	margin-top: 46px;
}
.icon_boxes_row
{
	margin-top: 59px;
}
.icon_boxes_row > div[class^='col']
{
	margin-bottom: 50px;
}
.service
{
	width: 100%;
	background: transparent;
}
.service:not(:last-child)
{
	margin-bottom: 80px;
}
.service_icon > div
{
	width: 67px;
	height: 67px;
}
.service_icon > div > svg
{
	max-width: 100%;
	height: auto;
}
.service_icon > div > img
{
	max-height: 100%;
}
.service_content
{
	padding-left: 29px;
}
.service_title
{
	font-size: 24px;
	font-weight: 500;
	color: #161d4a;
	line-height: 1.2;
}
.service:hover .service_title
{
	color: #ffa54b;
}
.service_text
{
	margin-top: 15px;
}
.service_text p
{
	font-size: 14px;
	font-weight: 500;
	color: #888888;
	line-height: 2.143;
}

/*********************************
8. Footer
*********************************/

.footer
{
	display: block;
	width: 100%;
}
.footer_container
{
	background: #0a1123;
}
.footer_image
{
	position: absolute;
	right: 0;
	bottom: 0;
	width: calc(100% + 12px);
	height: 100%;
}
.footer_logo
{
	margin-left: -6px;
}
.footer_contact_info
{
	padding-top: 93px;
	padding-bottom: 113px;
}
.footer_contact_list
{
	padding-left: 12px;
	margin-top: 38px;
}
.footer_contact_list ul li
{
	padding-right: 10px;
}
.footer_contact_list ul li > div:first-child
{
	width: 86px;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	font-size: 18px;
	font-weight: 500;
	color: #ffa54b;
}
.footer_contact_list ul li > div:last-child
{
	font-size: 15px;
	font-weight: 400;
	color: #d7d9e5;
	line-height: 1.6;
	margin-top: 2px;
}
.footer_contact_list ul li:not(:last-of-type)
{
	margin-bottom: 23px;
}
.newsletter
{
	padding-top: 168px;
	padding-bottom: 113px;
}
.newsletter_title
{
	font-size: 24px;
	font-weight: 500;
	color: #ffa54b;
	line-height: 1.2;
}
.newsletter_form_container
{
	margin-top: 42px;
}
.newsletter_form
{
	display: block;
	position: relative;
}
.newsletter_input
{
	display: block;
	width: calc(100% - 107px);
	height: 56px;
	background: #161d4a;
	border: none;
	outline: none;
	padding-left: 23px;
	color: #FFFFFF;
}
.newsletter_button
{
	width: 107px;
	height: 56px;
	background: #ffa54b;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	color: #d7d9e5 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	color: #d7d9e5 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	color: #d7d9e5 !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	color: #d7d9e5 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	color: #d7d9e5 !important;
}
.newsletter_text
{
	margin-top: 14px;
	padding-left: 6px;
}
.newsletter_text p
{
	font-size: 12px;
	font-style: italic;
	color: rgba(136,136,136,0.41);
}
.footer_bar
{
	background: #070d1d;
}
.footer_bar_content
{
	height: 57px;
}
.cr
{
	font-size: 12px;
	font-weight: 500;
	color: #888888;
}
.footer_nav ul li:not(:last-of-type)
{
	margin-right: 30px;
}
.footer_nav ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #888888;
}
.footer_nav ul li a:hover
{
	color: #ffa54b;
}
