<h1>Log In</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your Form is valid</h5>
<div class="formControl">
        <label>Phone Number</label>
        <input type="text" formcontrolName='phonenumber'>
        <div *ngIf="submitted && loginForm.controls.phonenumber.errors" class='error'>
            <div *ngIf="loginForm.controls.phonenumber.errors.required">Phone Number is required</div>
        </div>
</div>

<div class="formControl">
        <label>Password</label>
        <input type="text" formcontrolName='password'>
        <div *ngIf="submitted && loginForm.controls.password.errors" class='error'>
            <div *ngIf="loginForm.controls.phonenumber.errors.required">Password is required</div>
        </div>
</div>



   
 <input type="submit" value="Log in" class="cta">

</form>