<div class="wrapper">
  <div class="row">
    <div class="col-2">
        <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-7">
        <app-mainspace></app-mainspace>
    </div>
  </div>

  
  
  
  
  </div>
  