<div class="page animated" style="animation-duration: 300ms;">
  <!-- Page Header-->

  <!-- Section Breadcrumbs-->
 
  <section class="section section-sm bg-gray-100">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-7 col-xl-8">
          <div class="row row-50">
            <div class="col-12">
              <!-- Heading Component-->
              <article class="heading-component">
                <div class="heading-component-inner">
                  <h5 class="heading-component-title">Free Betslips
                  </h5>
                  <div class="heading-component-aside">
                    <ul class="list-inline list-inline-xs list-inline-middle">
                        <li>
                            <div class="select2-container select select-minimal" id="s2id_autogen5" style="min-width: 110px"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-6">2016-2019</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen6" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-6" id="s2id_autogen6"><div class="select2-drop select2-display-none select-minimal-dropdown">   <div class="select2-search select2-search-hidden select2-offscreen">       <label for="s2id_autogen6_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-6" id="s2id_autogen6_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-6">   </ul></div></div><select class="select select-minimal" data-placeholder="2016-2019" data-dropdown-class="select-minimal-dropdown" style="min-width: 110px; display: none;" tabindex="-1" title="">
                              <option value="2016-2019" selected="">2016</option>
                              <option value="2015-2016">2015-2016</option>
                              <option value="2014-2015">2014-2015</option>
                            </select>
                          </li>
                     
                      <li>
                        <div class="select2-container select select-minimal" id="s2id_autogen5" style="min-width: 110px"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-6">2016-2019</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen6" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-6" id="s2id_autogen6"><div class="select2-drop select2-display-none select-minimal-dropdown">   <div class="select2-search select2-search-hidden select2-offscreen">       <label for="s2id_autogen6_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-6" id="s2id_autogen6_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-6">   </ul></div></div><select class="select select-minimal" data-placeholder="2016-2019" data-dropdown-class="select-minimal-dropdown" style="min-width: 110px; display: none;" tabindex="-1" title="">
                          <option value="2016-2019" selected="">2019</option>
                          <option value="2015-2016">2015-2016</option>
                          <option value="2014-2015">2014-2015</option>
                        </select>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
              <div class="card-standing card-group-custom card-standing-index" id="accordion1" role="tablist" aria-multiselectable="false">
                <div class="card-standing-caption">
                  <div class="card-standing-position"><small>Id</small></div>
                  <div class="card-standing-caption-aside">
                    <div class="card-standing-team"><small>Creator</small></div>
                    <div class="card-standing-points"><small>Games</small></div>
                    <div class="card-standing-number"><small>Up</small></div>
                    <div class="card-standing-number"><small>Down</small></div>
                    <div class="card-standing-number"><small>Sales</small></div>
                    <div class="card-standing-number"><small>Status</small></div>
                    <div class="card-standing-points"><small>Action</small></div>
                    
                  </div>
                </div>
                <!-- Bootstrap card-->
                <article class="card card-custom" *ngFor="let betslip of betslips">
                  <div class="card-standing-position card-standing-counter"></div>
                  <div class="card-header" id="accordion1Heading1" role="tab">
                    <div class="card-standing-team-item">
                      <div class="card-standing-team">
                        <div class="card-standing-team-figure"><img src="assets/images/1.png" alt="" width="31" height="41">
                        </div>
                        <div class="card-standing-team-title">
                          <div class="card-standing-team-name"><small>{{betslip.name}}</small></div>
                          <div class="card-standing-team-country">USA</div>
                        </div>
                      </div>
                      <div class="card-standing-button"><a class="card-standing-toogle material-icons-remove collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="https://livedemo00.template-help.com/wt_63853_v4/soccer/standings.html#accordion1Collapse1" aria-controls="accordion1Collapse1"></a></div>

                      <div class="card-standing-number">{{betslip.down_kicks}}</div>
                      <div class="card-standing-number">{{betslip.up_kicks}}</div>
                      <div class="card-standing-number">{{betslip.sales}}</div>
                      <div class="card-standing-points"> <div class="badge badge-red">   <span class="icon material-icons-whatshot"></span>
                      </div></div>
                      <div class="card-standing-points"><button class="btn btn-success btn-xs"><small>Buy</small></button></div>
                     
                    </div>
                  </div>
                  <div class="collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1">
                    <div class="card-body">
                      <div class="card-standing-team-details">
                        <div class="card-standing-game-status">Home</div>
                        <div class="card-standing-number">78</div>
                        <div class="card-standing-number">2</div>
                        <div class="card-standing-number">1</div>
                      </div>
                      <div class="card-standing-divider"></div>
                      <div class="card-standing-team-details">
                        <div class="card-standing-game-status">Away</div>
                        <div class="card-standing-number">26</div>
                        <div class="card-standing-number">28</div>
                        <div class="card-standing-number">1</div>
                      </div>
                    </div>
                  </div>
                </article>
                
                
              </div>
            </div>
            <div class="col-12">
              <!-- Heading Component-->
              <article class="heading-component">
                <div class="heading-component-inner">
                  <h5 class="heading-component-title">Glossary Terms
                  </h5>
                </div>
              </article>
              <div class="game-glossary">
                <div class="game-glossary-wrap row-10">
                  <div class="game-glossary-column">
                    <table class="game-glossary-terms">
                      <tbody><tr>
                        <td>W:</td>
                        <td>Wins</td>
                      </tr>
                      <tr>
                        <td>L:</td>
                        <td>Loses</td>
                      </tr>
                    </tbody></table>
                  </div>
                  <div class="game-glossary-column">
                    <table class="game-glossary-terms">
                      <tbody><tr>
                        <td>T:</td>
                        <td>Ties</td>
                      </tr>
                      <tr>
                        <td>PTS:</td>
                        <td>Winning Percentage</td>
                      </tr>
                    </tbody></table>
                  </div>
                  <div class="game-glossary-column">
                    <table class="game-glossary-terms">
                      <tbody><tr>
                        <td>DIFF:</td>
                        <td>Point Differential</td>
                      </tr>
                    </tbody></table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <!-- Heading Component-->
          <article class="heading-component">
            <div class="heading-component-inner">
              <h5 class="heading-component-title"><small>Latest Winners</small>
              </h5>
            </div>
          </article>
          <!-- Game Result Classic-->
          <article class="game-result game-result-classic">
            <div class="game-result-main">
              <div class="game-result-team game-result-team-first">
                <figure class="game-result-team-figure game-result-team-figure-big"><img src="assets/images/3.png" alt="" width="41" height="55">
                </figure>
                <div class="game-result-team-name">Sportland</div>
                <div class="game-result-team-country">USA</div>
              </div>
              <div class="game-result-middle">
                <div class="game-result-score-wrap">
                  <div class="game-result-score game-result-team-win">2<span class="game-result-team-label game-result-team-label-top">Win</span>
                  </div>
                  <div class="game-result-score-divider">
                    <svg x="0px" y="0px" width="7px" height="21px" viewBox="0 0 7 21" enable-background="new 0 0 7 21" xml:space="preserve">
                      <g>
                        <circle cx="3.5" cy="3.5" r="3"></circle>
                        <path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path>
                      </g>
                      <g>
                        <circle cx="3.695" cy="17.5" r="3"></circle>
                        <path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path>
                      </g>
                    </svg>
                  </div>
                  <div class="game-result-score">1
                  </div>
                </div>
                <div class="game-results-status">Home</div>
              </div>
              <div class="game-result-team game-result-team-second">
                <figure class="game-result-team-figure game-result-team-figure-big"><img src="./Standings_files/team-dream-team-50x50.png" alt="" width="50" height="50">
                </figure>
                <div class="game-result-team-name">Dream Team</div>
                <div class="game-result-team-country">Spain</div>
              </div>
            </div>
            <div class="game-result-footer">
              <ul class="game-result-details">
                <li>New Yorkers Stadium</li>
                <li>
                  <time datetime="2019-04-14">April 14, 2019</time>
                </li>
              </ul>
            </div>
          </article>
          
          
        </div>
      </div>
    </div>
  </section>
</div>