<div class="row upcoming_latest">
  <div class="col-1">

  </div>
  <div class="col-10">
    <table class="table table-stripped">
      <thead class="success">
        <tr>
          <th>Home Team</th>
          <th>Away Team
          </th>
          <th>League</th>
          <th>Date</th>
          <th>Time</th>
          <th>Prediction</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fixture of fixtures">
          <td>
            {{ fixture.homeTeam.name }}
          </td>
          <td>
            {{ fixture.awayTeam.name }}
          </td>
          <td>
            {{ fixture.league_id.name }}

          </td>
          <td>
            {{ fixture.event_date | date }}

          </td>
          <td>
            {{ fixture.event_timestamp }}

          </td>
          <td>

          </td>
          <td>
            <button class="btn btn-primary" (click)="addToBetslip(fixture.id)">Add</button>         
           </td>

        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-1">

  </div>
</div>
